{% extends 'layouts/master.njk' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<section class="main-section">
    <div class="col-xs-12">
        <div class="text-center">
            <a class="main-header" href="/">
                Ranger Steve
            </a>
        </div>

        <div class="container">
            <div class="well">
                <form action="" method="POST">
                    <h1 class="text-warning">Add Announcement</h1>
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="form-group">
                                <input
                                    name="announcement"
                                    class="form-control"
                                    placeholder="Enter your announcement..."
                                    autofocus
                                    style="margin-bottom: 15px"
                                    type="text"
                                    value="{{ announcement }}"
                                />
                            </div>
                            {% if error %}
                                <p class="alert alert-danger">
                                    Oh snap! {{ error }}
                                </p>
                            {% endif %}
                            {% if success %}
                                <p class="alert alert-success">
                                    Well done! Announcement sent successfully.
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-xs-3">
                            <button
                                type="submit"
                                class="btn btn-success btn-lg btn-block"
                            >
                                Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
