{% extends 'layouts/master.njk' %}

{% block title %}Buy | RangerSteve.io{% endblock %}

{% block content %}
<section class="container pv8 ph8 text-center main-section" id="store-container" v-cloak>
  {% if(isSuccessMessage) %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endif %}
  {% if (isErrorMessage) %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endif %}

  {% if gameDiscount > 0 %}
    <div class="well mb0 bra0 text-center pr5 pl5 mb0 bra0 pv5 tcw bg-lily-meadow" v-if="!isPremium">
      <h3 class="mt4 mb1 fwbold">Pre-Order Now, 40% Discount!</h3>
      <p class="ft8 lh13 mb4">
        This game will always be free to play, but <strong>early purchases help us add features</strong> faster. <br />
        Premium features are <strong>currently in development</strong> and as they are released you will <strong>automatically have access to them</strong>.
      </p>
    </div>
  {% endif %}

  <div class="well mb0 bra0">
    <div
      class="alert alert-danger"
      v-if="accountErrorMessage"
    >
      ${ accountErrorMessage }
    </div>
    <div
      class="alert alert-success"
      v-if="accountSuccessMessage"
    >
      ${ accountSuccessMessage }
    </div>

    <div class="row" v-if="!auth">
      <div class="col-sm-6 col-sm-offset-3 mt3">
        <h3 class="mt0 ft10 fwbold tcw">Login To Buy Premium Access</h3>
        <div class="row">
          <div class="col-xs-4">
            <button
              class="btn btn-sm btn-block btn-google"
              v-on:click="attemptLoginWithGoogle()"
            >
              <i class="fa fa-google" aria-hidden="true"></i> Google
            </button>
          </div>
          <div class="col-xs-4">
            <button
              class="btn btn-sm btn-block btn-facebook"
              v-on:click="attemptLoginWithFacebook()"
            >
              <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </button>
          </div>
          <div class="col-xs-4">
            <button
              class="btn btn-sm btn-block btn-twitter"
              v-on:click="attemptLoginWithTwitter()"
            >
              <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt5 mb7 db mauto" style="width: 430px;" v-if="!isPremium && !auth">
      <button class="btn btn-success uppercase ph5 mb2 ft15" disabled>
        Buy Premium Access<br />
        <span class="ft10">One Time Purchase For <strike>${{ gamePrice }}</strike> ${{ gameTotalPrice }}</span>
      </button>

      <span class="tcw pointer">Use a key to get premium access</span>
    </div>

    <div class="mt5 mb7 db" v-if="!isPremium && auth">
      <form class="mauto" action="/charge" method="POST" style="width: 430px;">
        <input type="hidden" v-bind:value="uid" name="uid" />
        <stripe-checkout
          form-id="buy-button"
          stripe-key="{{ stripePublicKey }}"
          stripe-name="RangerSteve.io"
          stripe-description="Premium RangerSteve.io"
          stripe-amount="{{ gameTotalPrice * 100 }}"
          stripe-image="/images/tile-logo.png"
        >
          <button class="btn btn-success uppercase ph5 mb2 ft15">
            Buy Premium Access<br />
            <span class="ft10">One Time Purchase For <strike>${{ gamePrice }}</strike> ${{ gameTotalPrice }}</span>
          </button>
        </stripe-checkout>
      </form>

      <span class="tcw pointer" data-toggle="modal" data-target="#use-premium-key">Use a key to get premium access</span>
    </div>

    <div class="row mb6 mt5" v-if="isPremium">
      <div class="col-sm-12">
        <h1 class="ff-bangers tcw ft35 mb0 mt0">Congratulations!</h1>
        <h2 class="tcw mt0 mb4">You have Premium access to all of the features in RangerSteve.io!</h2>
        <a href="/game" class="btn btn-lg btn-success">Play Now</a>
      </div>
    </div>

    <div class="row no-pointer-events mb5">
      <div class="col-xs-4">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>7+ New Characters</span>
          <img src="/images/characters/CommandoMike.png" />
        </a>
      </div>
      <div class="col-xs-4">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>4+ New Guns</span>
          <img src="/images/store/flamethrower.png" style="max-height: 166px;" />
        </a>
      </div>
      <div class="col-xs-4">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>In Game Premium Status</span>
          <img src="/images/ui/dark-sword.png" style="max-height: 166px;" />
        </a>
      </div>
    </div>
  </div>

  <div class="well mb0 bra0 bg-lily-meadow">
    <h2 class="ff-bangers tcw text-stroke ft25 mb6 mt3">7+ Characters</h2>
    <div class="row no-pointer-events">
      <div class="col-xs-3">
        <a class="gold-button btn btn-default" href="/store">
          <span>Commando Mike</span>
          <img src="/images/characters/CommandoMike.png" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default" href="/store">
          <span>GI John</span>
          <img src="/images/characters/GIJohn.png" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>Terrorist Jack</span>
          <img src="/images/characters/TerroristJim.png" height="166" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default" href="/store">
          <span>Real Estate Rob</span>
          <img src="/images/characters/RealEstateRob.png" height="166" />
        </a>
      </div>
    </div>
    <div class="row no-pointer-events mb5">
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>Secret Agent Sam</span>
          <img src="/images/characters/KGBViktor.png" width="125" height="166" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>Scuba Dave</span>
          <img src="/images/characters/Scooba.png" width="125" height="166" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>Redneck Jim</span>
          <img src="/images/characters/RedneckJim.png" width="120" height="166" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>More to come...</span>
          <img src="/images/characters/Placeholder.png" width="100" height="166" />
        </a>
      </div>
    </div>
  </div>

  <div class="well mb0 bra0">
    <h2 class="ff-bangers tcw text-stroke ft25 mb0 mt3">4+ Guns</h2>
    <p class="ft8 mb4 tcw">
      Art is coming soon!
    </p>
    <div class="row no-pointer-events mb5">
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0 text-center" href="/store">
          <span>Flamethrower</span>
          <img src="/images/store/flamethrower.png" style="max-width: 170px;" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>Ricochet Laser Rifle</span>
          <img src="/images/store/flamethrower.png" style="max-width: 170px;" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>Grenade Launcher</span>
          <img src="/images/store/flamethrower.png" style="max-width: 170px;" />
        </a>
      </div>
      <div class="col-xs-3">
        <a class="gold-button btn btn-default mb0" href="/store">
          <span>Needler</span>
          <img src="/images/store/flamethrower.png" style="max-width: 170px;" />
        </a>
      </div>
    </div>

    <div class="mt5 mb5 db mauto" style="width: 430px;" v-if="!isPremium && !auth">
      <button class="btn btn-success uppercase ph5 mb4 ft15" disabled>
        Buy Premium Access<br />
        <span class="ft10">One Time Purchase For <strike>${{ gamePrice }}</strike> ${{ gameTotalPrice }}</span>
      </button>

      <span class="tcw pointer">Use a key to get premium access</span>
    </div>

    <div class="mt5 mb5 db mauto" style="width: 430px;" v-if="!isPremium && !auth">
      <button class="btn btn-success uppercase ph5 mb2 ft15" disabled>
        Buy Premium Access<br />
        <span class="ft10">One Time Purchase For <strike>${{ gamePrice }}</strike> ${{ gameTotalPrice }}</span>
      </button>

      <span class="tcw pointer">Use a key to get premium access</span>
    </div>

    <div class="mt5 mb5 db" v-if="!isPremium && auth">
      <form class="mauto" action="/charge" method="POST" style="width: 430px;">
        <input type="hidden" v-bind:value="uid" name="uid" />
        <stripe-checkout
          form-id="buy-button"
          stripe-key="{{ stripePublicKey }}"
          stripe-name="RangerSteve.io"
          stripe-description="Premium RangerSteve.io"
          stripe-amount="{{ gameTotalPrice * 100 }}"
          stripe-image="/images/tile-logo.png"
        >
          <button class="btn btn-success uppercase ph5 mb2 ft15">
            Buy Premium Access<br />
            <span class="ft10">One Time Purchase For <strike>${{ gamePrice }}</strike> ${{ gameTotalPrice }}</span>
          </button>
        </stripe-checkout>
      </form>

      <span class="tcw pointer" data-toggle="modal" data-target="#use-premium-key">Use a key to get premium access</span>
    </div>
  </div>

  <div class="well mb0 bra0 bg-lily-meadow">
    <div class="pv5">
      <h2 class="ff-bangers tcw text-stroke ft25 mb6 mt3">Subscribe To Our Newsletter</h2>
      <div id="mc_embed_signup" class="ph7 mb3 text-center">
        <form action="//rangersteve.us6.list-manage.com/subscribe/post?u=ee7e3d14e2b1356adb186012a&amp;id=f4a249ec8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div id="mce-responses" class="clear">
              <div class="response alert alert-danger" id="mce-error-response" style="display:none"></div>
              <div class="response alert alert-success" id="mce-success-response" style="display:none"></div>
            </div>

            <div class="row">
              <div class="col-xs-8">
                <input type="email" placeholder="Enter your email address" value="" name="EMAIL" class="required email form-control" required id="mce-EMAIL" style="border-radius: 2px; border: 0;">
              </div>
              <div class="col-xs-4">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block btn-success" >
              </div>
            </div>

            <!-- Helps prevents bots from signing up -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee7e3d14e2b1356adb186012a_f4a249ec8b" tabindex="-1" value=""></div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
  </div>

  <div class="modal fade bg-lily-meadow" id="use-premium-key" tabindex="-1" role="dialog" v-if="auth">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="min-height: 220px; height: auto">
        <form action="/charge/key" method="post">
          <input type="hidden" name="uid" v-model="auth.uid">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Use Your Key To Get Premium Access</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Your Key</label>
              <input type="text" class="form-control" name="key">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="tcb btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/merge@1.2.0"></script>
<script src="https://js.stripe.com/v2/"></script>
<script src="/js/stripe-checkout.js"></script>
<script>
  Stripe.setPublishableKey('{{ stripePublicKey }}')

  var gamePrice = {{ gamePrice }}
  var gameDiscount = {{ gameDiscount }}
  var isDiscount = {{ gameDiscount }} > 0

  new Vue({
    el: '#store-container',
    delimiters: ['${', '}'],
    data: {
      accountSuccessMessage: null,
      accountErrorMessage: null,
      auth: null,
      user: null,
      transactions: null,
      uid: null,
      gamePrice: gamePrice,
      gameDiscount: gameDiscount,
      isDiscount: isDiscount,
    },
    filters: {
      currency: function (value) {
        return '$' + parseFloat(value).toFixed(2)
      }
    },
    computed: {
      isPremium: function () {
        var self = this
        if (!this.transactions) return false

        var premiumTransactions = Object.keys(this.transactions)
          .filter(function (key) {
            return self.transactions[key].type === 'premium'
          })

        return premiumTransactions.length > 0
      }
    },
    beforeMount: function() {
      this.checkAuthStatus()
    },
    methods: {
      checkAuthStatus: function () {
        var self = this
        // Check if the user is signed in
        firebase.auth().onAuthStateChanged(function(auth) {
          if (!auth) return
          self.auth = auth
          self.uid = auth.uid
          self.fetchUser()
          self.fetchUserTransactions()
        })
      },
      fetchUserTransactions: function() {
        var self = this
        firebase.database()
          .ref('user_transactions/' + self.auth.uid)
          .once('value', function(snapshot) {
            self.transactions = snapshot.val()
            self.$forceUpdate()
          })
      },
      fetchUser: function () {
        var self = this
        firebase.database()
          .ref('users/' + self.auth.uid)
          .once('value', function(snapshot) {
            self.user = snapshot.val()
          })
      },
      attemptLoginWithGoogle: function () {
        var self = this
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider).then(function(result) {
          self.auth = result.user
        }).catch(function(error) {
          console.error(error)
          self.addAccountErrorMessage(error.message)
        })
      },
      attemptLoginWithFacebook: function () {
        var self = this
        var provider = new firebase.auth.FacebookAuthProvider();
        firebase.auth().signInWithPopup(provider).then(function(result) {
          self.auth = result.user
        }).catch(function(error) {
          console.error(error)
          self.addAccountErrorMessage(error.message)
        })
      },
      attemptLoginWithTwitter: function () {
        var self = this
        var provider = new firebase.auth.TwitterAuthProvider();
        firebase.auth().signInWithPopup(provider).then(function(result) {
          self.auth = result.user
        }).catch(function(error) {
          console.log(error)
          self.addAccountErrorMessage(error.message)
        })
      }
    }
  })
</script>
{% endblock %}
