{% extends 'layouts/master.njk' %}

{% block title %}Create a Room | RangerSteve.io{% endblock %}

{% block content %}
<span id="beta-label">Beta</span>

<section class="main-section">
  <div class="col-xs-12">
    <div class="text-center">
      <span class="main-header">
        Create a Room
      </span>
    </div>

    <div class="map-content">
      <div class="well">
        <form action="/game" method="GET">
          <input type="hidden" name="map" />
          <input type="hidden" name="gamemode" />
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label class="tcw">Name of Room</label>
                <input
                  maxlength="25"
                  name="roomId"
                  type="text"
                  value="{{ randomRoomName }}"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label class="tcw">Starting Gamemode</label>

                <div class="list-group">
                  {% for gamemode in gamemodes %}
                    <a
                      id="gamemode-button-{{ gamemode }}"
                      href="#"
                      class="list-group-item gamemode-button"
                      onClick="selectGamemode('{{ gamemode }}')"
                    >
                      {{ gamemode }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="form-group">
                <label class="tcw">Starting Map</label>

                <div class="row">
                  {% for map in maps %}
                    <div class="col-xs-6">
                      <button
                        style="background-image: url(/images/map-thumbnails/{{ map }}.jpg);"
                        class="btn btn-default btn-block mb3 no-border map-button"
                        onClick="selectMap('{{ map }}')"
                        id="map-button-{{ map }}"
                        type="button"
                      >
                        {{ map }}
                      </button>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              <a
                class="btn btn-primary btn-block btn-lg"
                href="/"
              >
                Back to Menu
              </a>
            </div>
            <div class="col-xs-3 col-xs-offset-6">
              <button
                type="submit"
                class="btn btn-success btn-lg btn-block"
                id="play-button"
              >
                Play Now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script>
  function selectMap (map) {
    $('input[name="map"]').val(map)
    $('.map-button').removeClass('active')
    $('#map-button-' + map).addClass('active')
  }

  function selectGamemode (gamemode) {
    $('input[name="gamemode"]').val(gamemode)
    $('.gamemode-button').removeClass('active')
    $('#gamemode-button-' + gamemode).addClass('active')
  }
</script>
{% endblock %}
