{% extends 'master.njk' %}

{% block title %}How To Play | RangerSteve.io{% endblock %}

{% block content %}
<span id="beta-label">Beta</span>

<section class="main-section">
  <div class="col-xs-12">
    <div class="text-center">
      <span class="main-header">
        How To Play
      </span>
    </div>

    <div class="main-content">
      <div class="well">
        <div class="row">
          <div class="col-xs-6">
            <a class="btn btn-primary btn-lg btn-block" href="/">Back to Menu</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-success btn-lg btn-block" href="/game">Play Now</a>
          </div>
        </div>

        <br />
        <br />

        <fieldset>
          <legend>Keyboard Controls</legend>

          <table class="table tcw">
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Control</th>
                  <th>Alt. Control</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                  <td><strong>Fly</strong></td>
                  <td>Right click and hold</td>
                  <td>Press and hold SHIFT</td>
              </tr>
              <tr>
                  <td><strong>Shoot</strong></td>
                  <td>Left click</td>
                  <td></td>
              </tr>
              <tr>
                  <td><strong>Aim</strong></td>
                  <td>Move your mouse</td>
                  <td></td>
              </tr>
              <tr>
                  <td><strong>Jump</strong></td>
                  <td>Press W</td>
                  <td></td>
              </tr>
              <tr>
                  <td><strong>Move left and right</strong></td>
                  <td>Press A and D</td>
                  <td></td>
              </tr>
              <tr>
                  <td><strong>Reload</strong></td>
                  <td>Press R</td>
                  <td></td>
              </tr>
              <tr>
                  <td><strong>Switch weapons</strong></td>
                  <td>Press Q</td>
                  <td></td>
              </tr>
              <tr>
                  <td><strong>Write chat message</strong></td>
                  <td>Press T</td>
                  <td></td>
              </tr>
              </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
