<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" lang="en-us" content="Explosive multiplayer shooter em' up that lets you instantly play with your friends.">
    <meta itemprop="name" content="RangerSteve.io">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="RangerSteve.io">
    <meta property="og:site_name" content="RangerSteve.io">
    <meta property="og:description" content="Explosive multiplayer shooter em' up that lets you instantly play with your friends.">
    <meta property="og:image" content="https://rangersteve.io/images/ogimage.png">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="810" />
    <meta property="og:image:height" content="450" />
    <meta property="og:url" content="https://rangersteve.io" />
    <meta property="og:type" content="website" />

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="//bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css?v={{ lastModifiedTime }}">

    {% block head %}{% endblock %}
</head>
<body>
    <div class="electron-drag-region"></div>

    {% block content %}{% endblock %}

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
