{% extends 'layouts/master.njk' %}

{% block title %}What's New | RangerSteve.io{% endblock %}

{% block content %}
  <section class="container pv8 ph8 h100">
    <h1 class="ff-bangers tcw text-stroke ft35 mb1 text-center">What's New</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well tcw">
          <h3 class="mt0">Coming Soon</h3>
          <ul>
            <li>Map: Tower City</li>
            <li>Game mode: King of the Hill</li>
            <li>Game mode: Hold the Flag</li>
            <li>Game mode: Gun Game</li>
            <li>Premium Player Skins</li>
            <li>Premium Weapon: Laser Ricochet Rifle</li>
            <li>Premium Weapon: Needler</li>
            <li>Premium Weapon: Grenade Launcher</li>
            <li>Premium Weapon: Flamethrower</li>
          </ul>

          <h3>3/25/2017</h3>
          <ul>
            <li>Gun mode: Only snipers, only shotguns, and etc.</li>
            <li>Rearrange home page with how to play guide</li>
          </ul>

          <h3>3/22/2017</h3>
          <ul class="mb0">
            <li>Added Pointmatch Game Mode</li>
            <li>Increase room size to 12</li>
            <li>Improve game performance and bug fixes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
