{
    "plugins": [ "react", "import" ],
    "extends": "standard",
    "installedESLint": true,
    "ecmaFeatures": {
        "jsx": true
    },
    "esversion": 6,
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion":6,
        "ecmaFeatures": {
            "jsx": true
        },
    },
    "globals": {
        "RS": true,
        "mixpanel": true,
        "Phaser": true,
        "$": true,
        "Primus": true,
        "_": true,
        "PIXI": true,
        "toastr": true,
        "check": true,
        "describe": true,
        "it": true
    }
}
