# folder view configs
.DS_Store
Desktop.ini

# thumbnail cache
._*
Thumbs.db

# files that might appear on external disks
.Spotlight-V100
.Trashes

# build directories
build
dist
dll
old
stats.json
flow-coverage
.happypack

# python
.Python
*.pyc
venv

# java
*.class
.gradle

# node
node_modules
logs
*.log
npm-debug.log*

# bower
bower_components

# other
.sass-cache
.idea
public/js/app.js
public/js/app.js.map
public/css/app.css
public/css/app.css.map
/.vscode
