@import url(https://fonts.googleapis.com/css?family=Bangers);

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

section {
    position: relative;
    width: 100%;
}

.main-section {
    background: url(/images/BG/BG.png) #E0F9FE repeat-x bottom center;
    position: relative;
    height: 100%;
    background-size: auto 100%;

    .btn-lg {
        padding: 15px 35px;
    }

    .main-table {
        display: table;
        width: 100%;
        height: 100%;

        .main-row {
            display: table-row;
            .main-cell {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .main-header {
        font-family: Bangers, "Lucida Grande", Helvetica, Arial, sans-serif;
        letter-spacing: 2px;
        font-weight: 300;
        color: #fff;
        font-size: 90px;
        line-height: 60px;
        padding: 0 0 20px;
        margin: 100px 0 60px;
        text-shadow: 0 6px rgba(0,0,0,.1);
    }

    .sub-header {
        color: #fff;
        font-size: 30px;
        margin: 0 0 30px;
    }
}
