.home-container {
    background: url(/images/map-background.png) no-repeat top center;
}

.align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-wrapper {
    float: left;
    width: 100%;
}

.main-section {
    background: url(/images/explode2.png) no-repeat center -170px;
    background-size: 1100px;
    border-radius: none;
    box-shadow: none;
    margin: 0;
    position: relative;
    height: 800px;
    overflow: hidden;

    .main-header {
        clear: both;
        color: #fff;
        font-family: Bangers, "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 90px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 60px;
        margin: 340px 0 15px 0;
        text-shadow: 0 6px rgba(0,0,0,.1);
    }

    .sub-header {
        color: #fff;
        font-size: 44px;
        margin: 0 0 10px;
        text-transform: uppercase;
        font-family: "Black Ops One", "Lucida Grande", Helvetica, Arial;
    }

    .btn-lg {
        padding: 15px 35px;
        margin: 0 auto;
        font-weight: bold;
        width: 240px;
    }
}

.fullscreen-video {
    display: block;
    width: 100%;
}

section {
    width: 100%;
    clear: both;
    float: left;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin: 0 0 2em 0;
    padding: 3em;

    h1 {
        padding: 50px 50px 10px 50px;
    }

    p {
        padding: 0 50px 50px;
        color: #5a5a61;
        font-size: 18px;
        line-height: 1.7;
    }

    img {
        padding: 40px 25px;
    }
}

.gray-section {
    background: #fff;
}

.white-section {
    background: white;
}

.newsletter-section {
    background: url(/images/small-landscape.png) center top no-repeat;
    background-size: cover;
    padding: 80px 0;

    #mc_embed_signup {
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        width: 600px;
        border-radius: 3px;
        padding: 30px 0;
        margin: 0 auto;
    }

    #mc_embed_signup_scroll {
        label {
            font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
            font-size: 29px;
            font-weight: 300;
        }
    }
}

.video-section {
    max-height: 450px;
    overflow: hidden;
    padding: 0;

    video {
        margin-top: -110px;
    }
}
