.hud-item {
    background-size: 28px;
    background: rgba(0, 0, 0, .4) no-repeat 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    color: #fff;
    font-family: Righteous;
    font-size: 34px;
    line-height: 34px;
    padding: 10px 10px 0 0;
    position: absolute;
    text-align: right;
}

.hud-settings {
    background: url(/images/icons/cog-32.png);
    background-size: 29px;
    box-shadow: none;
    border: 0;
    padding: 0;
    right: 190px;
    top: 20px;
    height: 29px;
    width: 29px;
}

.hud-score {
    background-image: url(/images/icons/trophy-32-white.png);
    height: 54px;
    left: 20px;
    top: 20px;
    width: 117px;
}

.hud-health {
    background-image: url(/images/icons/plus-4-32-white.png);
    background-size: 27px;
    bottom: 20px;
    height: 54px;
    left: 20px;
    width: 117px;
}

.hud-leaderboard {
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    right: 20px;
    text-align: left;
    top: 20px;
    width: 160px;

    h1 {
        font-size: 18px;
        font-family: Righteous;
        font-weight: bold;
        margin: 0 0 5px;
    }

    ol {
        margin: 0 0 0 23px;
        padding: 0;
    }
}

.hud-ammo {
    background-image: url(/images/icons/ammo-tin-32-white.png);
    background-size: 26px;
    background-position: 7px 10px;
    bottom: 20px;
    height: 54px;
    font-size: 29px;
    right: 20px;
    width: 117px;
    padding: 7px 10px 0 0;

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 5px;
        border-radius: 0 0 3px 3px;

        .progress-bar {
            background: #F5A623;
        }
    }
}

.hud-weapon-options {
    background: rgba(0, 0, 0, .4) no-repeat 10px;
    border-radius: 3px;
    bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    height: 54px;
    left: 50%;
    margin-left: -270px;
    position: absolute;
    width: 540px;

    div {
        border-right: 1px solid rgba(0, 0, 0, .5);
        float: left;
        height: 54px;
        position: relative;
        width: 54px;

        &:last-child {
            border: 0;
        }
    }

    span {
        position: absolute;
        color: white;
        font-weight: bold;
        top: 2px;
        left: 6px;
    }
}

.hud-settings-modal {
    position: absolute;
    top: 50%;
    left: 50%;

    .well {
        max-height: 400px;
        overflow-y: scroll;
    }

    .thumbnail {
        float: left;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}
