.hud-item {
    background-size: 28px;
    background: #504F4D no-repeat 10px;
    color: #fff;
    font-family: Righteous;
    font-size: 34px;
    line-height: 34px;
    padding: 10px 10px 0 0;
    position: absolute;
    text-align: right;
}

.hud-settings {
    background: url(/images/icons/cog-32.png);
    background-size: 29px;
    border: 0;
    cursor: pointer;
    padding: 0;
    right: 240px;
    top: 20px;
    height: 29px;
    width: 29px;
}

.hud-jump-jet {
    background-image: url(/images/icons/gas-32-white.png);
    border-radius: 5px 0 0 0;
    height: 54px;
    padding: 18px 0 0 50px;
    right: 0;
    bottom: 0;
    width: 185px;

    .progress {
        max-width: 120px;
    }
}

.hud-score {
    background-image: url(/images/icons/trophy-32-white.png);
    border-radius: 0 0 5px 0;
    height: 54px;
    left: 0;
    top: 0;
    width: 117px;
}

.hud-health {
    background-image: url(/images/icons/plus-4-32-white.png);
    background-size: 27px;
    border-radius: 0 5px 0 0;
    bottom: 0;
    height: 54px;
    left: 0;
    width: 117px;
}

.hud-leaderboard {
    border-radius: 0 0 0 5px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    right: 0;
    text-align: left;
    top: 0;
    width: 220px;

    h1 {
        font-size: 18px;
        font-family: Righteous;
        font-weight: bold;
        margin: 0 0 5px;
    }

    ol {
        margin: 0 0 0 23px;
        padding: 0;
    }
}

.hud-ammo {
    background-image: url(/images/icons/ammo-tin-32-white.png);
    background-size: 26px;
    background-position: 7px 10px;
    bottom: 20px;
    height: 54px;
    font-size: 29px;
    right: 20px;
    width: 117px;
    padding: 7px 10px 0 0;

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 5px;
        border-radius: 0 0 3px 3px;

        .progress-bar {
            background: #F5A623;
        }
    }
}
