.hud-weapons-inventory {
    bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    height: 54px;
    left: 50%;
    margin-left: -350px;
    position: absolute;
    width: 700px;

    div {
        background: #504F4D;
        float: left;
        height: 54px;
        position: relative;
        width: 70px;
        overflow: hidden;

        &:first-child {
            border-radius: 5px 0 0 0;
        }

        &:last-child {
            border-radius: 0 5px 0 0;
        }

        &.active {
            background: #DDB400;
        }

        &.weapon-ak47 img {
            width: 120px;
            top: 10px;
            left: -35px;
        }

        &.weapon-barrett img {
            width: 140px;
            top: 0px;
            left: -46px;
        }

        &.weapon-m4a1 img {
            width: 110px;
            top: 10px;
            left: -25px;
        }

        &.weapon-desert-eagle img {
            width: 45px;
            top: 16px;
            left: 10px;
        }

        &.weapon-aug img {
            width: 110px;
            top: 10px;
            left: -25px;
        }

        &.weapon-p90 img {
            width: 75px;
            top: 15px;
            left: -4px;
        }

        &.weapon-skorpion img {
            width: 55px;
            top: 12px;
            left: 5px;
        }

        &.weapon-m500 img {
            width: 130px;
            top: 10px;
            left: -35px;
        }

        &.weapon-g43 img {
            width: 130px;
            top: 10px;
            left: -35px;
        }

        &.weapon-rpg img {
            width: 150px;
            top: 30px;
            left: -35px;
        }
    }

    span {
        position: absolute;
        color: white;
        font-weight: bold;
        top: 2px;
        left: 8px;
        z-index: 2;
    }

    img {
        position: absolute;
        -ms-transform: rotate(40deg); /* IE 9 */
        -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
        z-index: 1;
    }
}
