.modal-content {
    border-radius: 5px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4) !important;
}

.modal-title {
    font-family: Bangers, "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 26px;
}

.modal .close {
    font-size: 33px;
    margin-top: 0;
    line-height: 39px !important;
}
