extends layout

block content
    .credits-container
        .row
            .col-sm-12
                img(src='/images/emerald-rebel.png')
                h2 Emerald Rebel Games
        .row
            .col-sm-12
                h3 Ranger Steve
                h2 Stephen Calkins
        .row
            .col-sm-12
                h3 Real Estate Rob
                h2 Robert Calkins
        .row
            .col-sm-12
                h3 G.I. John
                h2 John Calkins
        .row
            .col-sm-12
                h3 LavaEagle, Game Design, Website, and Programming
                h2 Michael Calkins
        .row
            .col-sm-12
                h3 Map Illustration and Design
                h2
                    a(href='https://www.behance.net/federicosarria') Federico Sarría
        .row
            .col-sm-12
                h3 Special Thanks
                h2 Mom and Dad
                h2 Nishelle Dawsey
                h2 Andrew Del Prete
        .row
            .col-sm-12
                h3 Made With
                h2
                    a(target='_blank', href='http://phaser.io/') Phaser.io
                h2
                    a(target='_blank', href='http://www.adonisjs.com/') AdonisJS
                h2
                    a(target='_blank', href='https://facebook.github.io/react/') ReactJS
                h2
                    a(target='_blank', href='https://nodejs.org/en/') NodeJS
                h2
                    a(target='_blank', href='https://github.com/socketio/socket.io') Socket.io
        .row
            .col-sm-12
                h1 Thanks For Playing!
                h3
                    a(href='https://twitter.com/michaeljcalkins') @michaeljcalkins
                h3
                    a(href='http://www.rangersteve.io') www.RangerSteve.io
