extends layout

block content
    .hud-score.hud-item 34
    .hud-health.hud-item 100
    .hud-leaderboard.hud-item
        h1 Leaderboard
        ol
            li LavaEagle
            li Nomad
            li JohnnyLegend
            li BIGDAWGROB
            li magicmike87
            li KIAWNATHEKID
            li nomoretime
            li f4tal3rr0r
            li ImRickJames
            li Drewpy
    .hud-ammo.hud-item 
        | 30
        .progress
            .progress-bar(style="width: 60%")
    .hud-settings.hud-item
    .hud-weapon-options
        div 
            span 1
        div 
            span 2
        div 
            span 3
        div 
            span 4
        div 
            span 5
        div 
            span 6
        div 
            span 7
        div
            span 8
        div 
            span 9
        div 
            span 10
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js")
    script(src="/javascripts/phaser.min.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/app.js")
