extends layout

block content
    section.main-section
        .main-table
            .main-row
                .main-cell
                    .row
                        .col-sm-12.text-center
                            .main-header Ranger Steve: Buffalo Invasion
                    .row
                        .col-sm-12.text-center
                            a.btn.btn-primary.btn-lg(href="/game") Play Alpha Now
