extends layout

block content
    section.main-section.text-center
        .align-middle
            div
                .main-header Ranger Steve
                .sub-header Buffalo Invasion
                a.btn.btn-primary.btn-block.btn-lg(href="/game") Play Now

    .container 
        .section-wrapper
            section.white-section
                video.fullscreen-video(loop, muted, autoplay, poster="/images/BG/BG.png")
                    //- source(src="", type="video/webm")
                    source(src="/video/home-video.mp4", type="video/mp4")
                    //- source(src="", type="video/ogg")

            section.white-section
                h1 Play With Your Friends Instantly
            section.gray-section
                h1 All Your Favorite Weapons 
            section.white-section
                h1 Fast Paced and Intense Gameplay
            section.gray-section
                h1 Leaderboards
            section.white-section
                h1 Score Stealing
            section.gray-section
                h1 The Wild Buffalo
            section.white-section
                h1 Kill Streak Bonuses
            section.gray-section
                h1 No Fancy Graphics Card Required
