extends layout

block content
    section.main-section.text-center
        .align-middle
            div
                .main-header Ranger Steve
                .sub-header Buffalo Invasion
                a.btn.btn-primary.btn-lg(href="/game") Play Now

    .container 
        .section-wrapper
            section.white-section
                video.fullscreen-video(loop, muted, autoplay, poster="/images/BG/BG.png")
                    //- source(src="", type="video/webm")
                    source(src="/video/home-video.mp4", type="video/mp4")
                    //- source(src="", type="video/ogg")

            section.white-section.highlight-features
                .row.text-center
                    .col-sm-4
                        img.img-circle(src="http://placehold.it/200x200")
                        h3 
                            | No fancy graphics card
                            br
                            | required
                    .col-sm-4
                        img.img-circle(src="http://placehold.it/200x200")
                        h3 
                            | All your favorite
                            br
                            | weapons
                    .col-sm-4
                        img.img-circle(src="http://placehold.it/200x200")
                        h3 
                            | Fast paced, intense 
                            br
                            | gameplay
            section.gray-section
                .row
                    .col-sm-6
                        h1 Play with your friends instantly
                        p By sharing the URL in your address bar you can instantly play with your friends.  Making it easy to start LAN party wherever you area.
                    .col-sm-6
                        img.img-rounded(src="http://placehold.it/500x300")
            section.white-section
                .row
                    .col-sm-6
                        img.img-rounded(src="http://placehold.it/500x300")
                    .col-sm-6
                        h1 Kill streak bonuses
                        p The more you kill and the higher your score the better the weapons you get access to.  The longer you survive without dying the more perks you'll get to kill with.
            section.gray-section
                .row
                    .col-sm-6
                        h1 Leaderboards
                        p Maintain your spot on top of the leaderboards that show the top 10 players in on the map for as long as you can.  They're coming for you...
                    .col-sm-6
                        img.img-rounded(src="http://placehold.it/500x300")
            section.white-section
                .row
                    .col-sm-6   
                        img.img-rounded(src="http://placehold.it/500x300")
                    .col-sm-6
                        h1 Score stealing
                        p You earn points by killing players and buffalo, but when you kill a player you take part of their score into your own.
            section.gray-section
                .row
                    .col-sm-6
                        h1 The Wild Buffalo
                        p You will fight the tough and wild buffalo throughout the map and when a player activates a bonus.
                    .col-sm-6
                        img.img-rounded(src="http://placehold.it/500x300")
