extends layout

block content
    .outer
        .middle
            .inner
                .row
                    .col-sm-12.text-center
                        .main-header Ranger Steve
                        .sub-header Buffalo Invasion
                .row
                    .col-sm-12.text-center
                        a.btn.btn-primary.btn-lg(href="/game") Play Now
