doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='stylesheet', href='https://bootswatch.com/cosmo/bootstrap.min.css')
    body
        block content
