.credits-container {
  text-align: center;
  z-index: 1;
  padding-bottom: 400px;
  padding-top: 100px;
  position: relative;

  img {
    height: 300px;
  }

  .row {
    margin-bottom: 100px;
  }

  a,
  a:hover {
    color: white;
    text-transform: none;
  }

  h1 {
    color: white;
    font-size: 70px;
  }

  h2 {
    color: white;
    font-size: 60px;
  }

  h3 {
    font-weight: bold;
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
  }
}

.credits-screen {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
