body.game {
    background: black !important;
    cursor: url(/images/crosshair.png) 15 15, auto;
}

.option-heading {
    font-size: 22px;
    font-family: Bangers;
    margin: 0 0 15px 0;
}

.option-group {
    background: #4D4D4D;
    cursor: pointer;
    position: relative;
    width: 270px;
    margin-bottom: 5px;

    .caret {
        position: absolute;
        top: 10px;
        right: 7px;
        border-top: 10px dashed;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }

    img {
        max-width: 240px;
    }
}

.option-screen {
    position: absolute;
    background: rgba(0, 0, 0, .3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.option-weapon-group {
    height: 90px;
}

.option-character-group {
    height: 230px;
}

.option-name {
    position: absolute;
    top: 7px;
    color: #E3DED3;
    letter-spacing: 2px;
    left: 7px;
    font-size: 16px;
    font-family: Orbitron, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.options-menu {
    .option-group {
        float: left;
        width: 281px;

        &:nth-child(odd) {
            margin-right: 5px;
        }
    }
}
