html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #f5f5f5 !important;
}

html {
    overflow: hidden;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

section {
    position: relative;
    width: 100%;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.pointer {
    cursor: pointer;
}
