html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    overflow: hidden;
}

body {
    font: 14px 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

section {
    position: relative;
    width: 100%;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.pointer {
    cursor: pointer;
}

.no-pointer-events {
    pointer-events: none;
}

#game {
    height: 100%;
}

.phaser-debug #game {
    height: calc(100% - 35px);
}

.text-red {
    color: #FF2525;
}

.text-blue {
    color: #2578FF;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}