body.main {
    height: 100%;
    background: url(/images/homebg.png) no-repeat top center;
    background-size: cover;
}

.align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    width: 100%;

    & > div {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }

    .main-header {
        clear: both;
        color: #fff;
        font-family: Bangers, Arial, sans-serif;
        font-size: 110px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 110px;
        margin-bottom: 10px;
        text-shadow: 0 6px rgba(0,0,0,.1);
        text-shadow: -1px -1px 0 #504F4D, 1px -1px 0 #504F4D, -1px 1px 0 #504F4D, 1px 1px 0 #504F4D;
    }

    .well {
        background: white;
        box-shadow: none;
        border-radius: 3px;
        border: 0;
        padding: 30px;
    }

    input {
        border-radius: 3px;
        margin: 0 auto;
    }

    .form-group {
        margin: 0;
    }

    .btn-lg {
        padding: 12px 35px 11px;
        font-weight: bold;
        margin: 0;
    }

    p {
        margin: 0;
    }

    table {
        margin: 0;
    }
}

.last-updated-at {
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #504F4D, 1px -1px 0 #504F4D, -1px 1px 0 #504F4D, 1px 1px 0 #504F4D;
}

.home-content {
    margin: 0 auto;
    width: 560px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    div.main-header {
        line-height: 90px !important;
        font-size: 90px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    input.form-control {
        margin-bottom: 10px;
    }

    div.main-header {
        line-height: 60px !important;
        font-size: 60px !important;
    }

    .home-content {
        width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}