body.main {
    height: 100%;
    background: url(/images/homebg.png) no-repeat top center;
    background-size: cover;
}

.align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section {
    margin-top: 200px;
    height: auto;
    width: 100%;

    .main-header {
        clear: both;
        color: #fff;
        display: block;
        font-family: Bangers, Arial, sans-serif;
        font-size: 110px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 110px;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        text-shadow: -1px -1px 0 #504F4D, 1px -1px 0 #504F4D, -1px 1px 0 #504F4D, 1px 1px 0 #504F4D;
        width: auto;

        &:active,
        &:hover {
            text-decoration: none;
        }
    }

    .well {
        background: white;
        box-shadow: none;
        border-radius: 3px;
        border: 0;
        min-height: 510px;
        padding: 30px;
    }

    input {
        border-radius: 3px;
        margin: 0 auto;
    }

    .form-group {
        margin: 0;
    }

    .btn-lg {
        padding: 12px 35px 11px;
        font-weight: bold;
        margin: 0;
    }

    p {
        margin: 0;
    }

    table {
        margin: 0;
    }
}

.buy-section {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    width: 600px;
}

.well-section {
    background: white;
    box-shadow: none;
    border-radius: 3px;
    border: 0;
    padding: 30px;
}

.home-content {
    margin: 0 auto;
    width: 660px;
}

.rooms-content {
    margin: 0 auto;
    width: 660px;
}

.home-footer {
    color: white;
    margin-bottom: 20px;

    .footer-content {
        display: inline-block;
        margin: 0 15px;
        padding: 10px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
    }

    a {
        color: white;
    }
}

#beta-label {
    color: white;
    font-size: 60px;
    font-family: Bangers;
    position: absolute;
    top: 45px;
    left: 20px;
    transform: rotate(-45deg);
}

#how-to-play-container {
    margin-top: 15px;
}

#rooms-container {
    margin-top: 15px;
    display: none;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    div.main-header {
        line-height: 90px !important;
        font-size: 90px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    input.form-control {
        margin-bottom: 10px;
    }

    div.main-header {
        line-height: 60px !important;
        font-size: 60px !important;
    }

    .home-content {
        width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
