body.main {
    padding-top: 71px;
}

.navbar {
    background: white;
    border: 0;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);

    .navbar-brand {
        font-family: Bangers, Helvetica, Arial, sans-serif;
        font-size: 45px;
        color: black;
        line-height: 43px;

        &:hover {
            color: black !important;
        }
    }

    .navbar-nav > li > a  {
        color: black !important;
        font-family: Oswald, Helvetica, Arial, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        transition: all .25s cubic-bezier(.19,1,.22,1);

        &:hover {
            color: white !important;
            text-decoration: underline;
        }
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 25px;
    }
}

.home-container {
    background: url(/images/map-background.png) no-repeat center center;
}

.align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-wrapper {
    float: left;
    width: 100%;
}

.main-section {
    background: url(/images/explode2.png) no-repeat center -280px;
    background-size: 1100px;
    border-radius: none;
    box-shadow: none;
    padding: 230px 0;
    margin: 0;
    position: relative;
    overflow: hidden;

    .main-header {
        clear: both;
        color: #fff;
        font-family: Bangers, "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 90px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 60px;
        margin: 0 0 15px;
        text-shadow: 0 6px rgba(0,0,0,.1);
    }

    .sub-header {
        color: #fff;
        font-size: 44px;
        margin: 0 0 10px;
        text-transform: uppercase;
        font-family: "Black Ops One", "Lucida Grande", Helvetica, Arial;
    }

    .btn-lg {
        padding: 15px 35px;
        margin: 0 auto;
        font-weight: bold;
        width: 240px;
    }
}

section {
    width: 100%;
    clear: both;
    float: left;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin: 0 0 2em 0;
    padding: 0;

    h1 {
        padding: 50px 50px 10px 50px;
    }

    p {
        padding: 0 50px 50px;
        color: #5a5a61;
        font-size: 18px;
        line-height: 1.7;
    }

    img, video {
        margin: 0 auto;
        width: 500px;
        height: 300px;
        margin: 25px;
    }
}

.newsletter-section {
    background: url(/images/small-landscape.png) center top no-repeat;
    background-size: cover;
    padding: 80px 0;

    #mc_embed_signup {
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        width: 600px;
        border-radius: 3px;
        padding: 30px 0;
        margin: 0 auto;
    }

    #mc_embed_signup_scroll {
        label {
            font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
            font-size: 29px;
            font-weight: 300;
        }
    }
}

.video-section {
    margin-top: 30px;
    max-height: 450px;
    overflow: hidden;
    padding: 0;

    video {
        margin: 0;
        margin-top: -110px;
        width: auto;
        height: auto;
    }
}

.social-link {
    float: right;
    color: white;
    display: block;
    border-radius: 45px;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    width: 45px;
    margin: 13px 0 0 5px;

    &:hover,
    &:active {
        color: white;
    }
}

.social-link-facebook {
    background-color: #3b5998;
}

.social-link-twitter {
    background-color: #00aced;
}
