.hud-item {
    background-size: 26px;
    background: #504F4D no-repeat 10px;
    border: 2px solid #E3DFD4;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 #202021;
    color: #E3DFD4;
    font-family: Righteous;
    font-size: 29px;
    line-height: 24px;
    padding: 10px 10px 0 0;
    position: absolute;
    text-align: right;
}

.hud-settings {
    background: url(/images/ui/button/64x64/197.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    right: 240px;
    top: 10px;
    height: 48px;
    width: 48px;
}

.hud-jump-jet {
    background-image: url(/images/icons/gas-32-white.png);
    background-size: 26px;
    height: 48px;
    padding: 12px 0 0 45px;
    right: 10px;
    bottom: 10px;
    width: 175px;

    .progress {
        max-width: 115px;
    }

    .progress-bar {
        background: #E0B302;
    }
}

.hud-score {
    background-image: url(/images/icons/trophy-32-white.png);
    background-size: 26px;
    height: 48px;
    left: 10px;
    top: 10px;
    width: 120px;
}

.hud-health {
    background-image: url(/images/icons/plus-4-32-white.png);
    background-size: 26px;
    bottom: 10px;
    height: 48px;
    left: 10px;
    width: 120px;
}

.hud-leaderboard {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    right: 10px;
    text-align: left;
    top: 10px;
    width: 220px;

    table {
        margin-bottom: 0;

        tr:first-child td {
            border-top: 1px solid #ddd !important;
            padding-top: 8px !important;
        }

        td {
            border: 0 !important;
            padding: 2px 0 !important;
        }

        td:last-child {
            text-align: right;
        }
    }

    h1 {
        font-size: 16px;
        font-family: Orbitron;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        margin: 4px 0 8px;
    }

    ol {
        margin: 0 0 0 17px;
        padding: 0;
    }
}

.hud-ammo {
    background-image: url(/images/icons/ammo-tin-32-white.png);
    background-size: 26px;
    background-position: 7px 10px;
    bottom: 20px;
    height: 54px;
    font-size: 29px;
    right: 20px;
    width: 117px;
    padding: 7px 10px 0 0;

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 5px;
        border-radius: 0 0 3px 3px;

        .progress-bar {
            background: #F5A623;
        }
    }
}

.hud-kill-confirmed {
    color: #fff;
    font-family: Righteous;
    font-size: 30px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    margin-top: -90px;
    text-shadow: -1px -1px 0 #504F4D,
        1px -1px 0 #504F4D,
        -1px 1px 0 #504F4D,
        1px 1px 0 #504F4D;
    top: 50%;
}

.hud-chat-message {
    cursor: pointer;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -150px;
    font-family: 'Lucida Grande', Arial;
    height: 100px;
    width: 300px;

    textarea {
        width: 100%;
        margin: -5px 5px 0;
        height: 85px;
        padding: 6px 8px;
    }
}

.hud-chat {
    width: 300px;
    position: absolute;
    left: 8px;
    bottom: 65px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        color: #fff;
        text-shadow: -1px -1px 0 #504F4D, 1px -1px 0 #504F4D, -1px 1px 0 #504F4D, 1px 1px 0 #504F4D;
        font-size: 12px;
        padding: 4px 3px;
    }
}

.hud-settings-modal {
    cursor: default;
}
