/**
 * Vertically center the modals from bootstrap
 */
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/**
 * Standard Modal
 */
.modal-content {
    background: url(/images/ui/panel/6.png) no-repeat top center;
    background-size: cover;
    border: 0;
    box-shadow: none !important;
    width: 850px;
    height: 576px;
    cursor: default;
    margin-left: -150px;

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
        color: #E3DFD3;
        background-color: #4D4D4D;
    }

    .nav-pills > li > a,
    .nav-pills > li > a:focus,
    .nav-pills > li > a:hover {
        color: #4D4D4D;
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .4);
}

.close {
    position: absolute;
    top: 44px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.modal-header {
    text-align: center;
    border: 0;
}

.modal-title {
    color: #E3DED3;
    font-weight: 400;
    font-family: "Keep Calm", Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
}

.modal-body {
    overflow-y: auto;
    max-height: 470px;
}

.modal-body::-webkit-scrollbar {
    width: .75em;
}

.modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  width: .5em;
}

.modal-footer {
    border: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.modal .table {
    margin: 0;
}

.modal .table td {
    vertical-align: middle;
}

/**
 * Respawn Modal
 */
.modal-respawn {
    .modal-content {
        background: url(/images/ui/panel/3.png) no-repeat center 75px,
            url(/images/ui/panel/5.png) no-repeat top center;
        background-size: 30%, 100%;
        width: 600px;
        height: 583px;
        margin: inherit;

        .modal-body {
            overflow: hidden;
            max-height: 500px;
        }

        &.modal-content-suicide {
            background: url(/images/ui/panel/4.png) no-repeat center 75px,
                url(/images/ui/panel/5.png) no-repeat top center;
            background-size: 30%, 100%;

            .modal-body {
                padding-top: 180px;
            }
        }
    }

    .weapon-image {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
        margin-top: 70px;
        margin-bottom: 70px;
        max-width: 200px;
        max-height: 200px;
    }

    hr {
        border-color: #4D4D4D;
        border-width: 2px;
        margin: 25px auto;
        width: 80%;
    }

    .social-image {
        width: 32px;
        margin-bottom: 15px;
    }

    input {
        max-width: 300px;
        float: none;
        display: inline-block;
    }
}

.modal-settings {
    .modal-title {
        margin-top: 4px;
    }
}

/**
 * Leaderboard Modal
 */
.modal-leaderboard {
    .modal-content {
        background: url(/images/ui/panel/5.png) no-repeat top center;
        width: 600px;
        height: 583px;
        margin: inherit;
    }

    .winning-player {
        background: url(/images/ui/panel/3.png) no-repeat center top;
        background-size: 50%;
        height: 190px;
        width: 100%;

        .player-image {
            background: url(/images/ranger-steve.png) no-repeat 66% 66%;
            background-size: 40%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .player-name {
            font-size: 10px;
            position: absolute;
            bottom: 0;
            left: 0; right: 0;
            width: 100%;
            font-family: "Keep Calm", Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            color: white;
            text-shadow: 0 6px rgba(0,0,0,.1);
            text-shadow: -1px -1px 0 #504F4D, 1px -1px 0 #504F4D, -1px 1px 0 #504F4D, 1px 1px 0 #504F4D;
        }
    }

    .player-achievement {
        text-align: center;
        width: 50%;
        float: left;
        margin: 0 0 5px;

        img {
            width: 36px;
            margin: 0 0 10px;
        }

        h6 {
            margin: 0 0 3px;
            font-family: "Keep Calm", Arial, sans-serif;
            font-size: 10px;
            text-transform: uppercase;
        }

        h4 {
            font-family: "Keep Calm", Arial, sans-serif;
            font-size: 13px;
            margin: 0;
        }
    }

    h1 {
        font-family: "Keep Calm";
        font-size: 26px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 10px 0 30px;
    }

    table {
        background: #444;
        margin-top: 10px;
    }

    th {
        color: white;
        font-size: 14px;
        font-family: 'Open Sans', Arial;
    }

    tr {
        color: white;

        th {
            text-align: right;
        }

        th:first-child {
            text-align: left;
        }
    }

    tr.active-player {
        td {
            color: #f1c40f;
        }
    }

    td {
        &:first-child {
            text-align: left;
        }

        text-align: right;
        font-family: 'Open Sans', Arial;
        font-size: 14px;
    }

    span {
        font-family: 'Open Sans', Arial;
        font-size: 12px;
    }
}
