.modal-content {
    // border-radius: 5px !important;
    background: url(/images/ui/panel/5.png) no-repeat top center;
    box-shadow: none !important;
    border: 0;
    background-size: 600px 583px;
    height: 583px;
}

.modal-header {
    text-align: center;
    border: 0;
}

.modal-footer {
    border: 0;
}

.modal-title {
    color: #E3DED3;
    font-weight: 400;
    font-family: Orbitron, "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: -2px 0 0 0;
}

.modal .close {
    font-size: 33px;
    top: 35px;
    right: 15px;
    position: absolute;
}
