.gold-container {
  text-align: center;

  .btn.btn-default {
    background: white;
    height: 170px;
    position: relative;
  }

  a span {
    // background: red;
    clear: both;
    color: #333;
    display: block;
    position: absolute;
    left: 0; right: 0;
    z-index: 1;
  }

  a > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .gold-title {
    top: 5px;
    font-size: 16px;
  }

  .gold-amount {
    top: 25px;
    color: white;
    text-shadow: -1px -1px 0 #504F4D, 1px -1px 0 #504F4D, -1px 1px 0 #504F4D, 1px 1px 0 #504F4D;

    img {
      width: 14px;
      margin-top: -3px;
      margin-left: -14px;
    }
  }

  .gold-price {
    background: rgba(0, 0, 0, .6);
    border-radius: 3px;
    margin: 5px 10px;
    padding: 3px 30px;
    color: white;
    text-shadow: -1px -1px 0 #504F4D, 1px -1px 0 #504F4D, -1px 1px 0 #504F4D, 1px 1px 0 #504F4D;
    bottom: 5px;
    left: 0;
    right: initial;
    width: calc(100% - 20px);

    &.isDiscount {
      text-align: left;
    }
  }

  .new-price {
    color: yellow;
    right: 5px;
    bottom: 0;
    padding: 3px 30px;
    width: 100%;
    text-align: right;
  }
}

strike {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

strike:after {
  border-top: 4px solid rgba(255, 0, 0, 0.6);
  bottom: 2px;
  content: '';
  height: 45%;
  height: calc(50% - 1px);
  left: -2px;
  position: absolute;
  transform: rotateZ(-20deg);
  width: 120%;
}

#store-gold-info {
  background: rgba(0, 0, 0, 0.7);
  width: 200px;
  padding: 10px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 3px 3px 0 0;
}

.gold-button {
  border: 5px solid #F9BF3B;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  margin-top: 10px;
  position: relative;
  width: 100%;

  &:hover {
    border: 5px solid #F9BF3B;
  }

  span:first-child {
    background: #F9BF3B;
    border-bottom :0;
    border-radius: 3px;
    font-size: 16px;
    color: #333;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -28px;
    margin-bottom: 10px;
    padding: 4px 0;
    text-align: center;
    width: 100%;
  }

  & > img {
    margin-right: -15px;
  }

  span:last-child {
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    img {
      margin-top: -3px;
    }
  }
}
