<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta name="description" lang="en-us" content="{% block description %}Explosive multiplayer shooter em' up that lets you instantly play with your friends.{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta itemprop="name" content="RangerSteve.io">
  <meta property="og:title" content="RangerSteve.io">
  <meta property="og:site_name" content="RangerSteve.io">
  <meta property="og:description" content="Explosive multiplayer shooter em' up that lets you instantly play with your friends.">
  <meta property="og:image" content="https://rangersteve.io/images/ogimage.png">
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:image:width" content="810"/>
  <meta property="og:image:height" content="450"/>
  <meta property="og:url" content="https://rangersteve.io"/>
  <meta property="og:type" content="website"/>

  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css?v={{ lastModifiedTime }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53112500-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-53112500-7');
  </script>

  {% block head %}{% endblock %}
</head>
<body class="main">
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand ff-bangers ft18" href="/">RangerSteve.io</a>
      </div>

      <nav id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/how-to-play" class="btn btn-link">
              How To Play
            </a>
          </li>
          <li>
            <a class="btn btn-link" href="/create-a-room">
              Create a Room
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {% block content %}{% endblock %}

  <footer class="navbar navbar-sm navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav nav-pills">
          <li>
            <a style="color: #AAA;" href="/credits" class="btn btn-link">
              Credits
            </a>
          </li>
          <li>
            <a style="color: #AAA;" href="http://www.addictinggames.com/" class="btn btn-link" target="_blank" title="Addicting Games">
              Play more games
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
