<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" lang="en-us" content="Explosive multiplayer shooter em' up that lets you fly around the map while engaged in high intensity battles.">
  <meta itemprop="name" content="RangerSteve.io">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <meta property="og:title" content="RangerSteve.io">
  <meta property="og:site_name" content="RangerSteve.io">
  <meta property="og:description" content="Explosive multiplayer shooter em' up that lets you instantly play with your friends.">
  <meta property="og:image" content="https://rangersteve.io/images/ogimage.png">
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:image:width" content="810"/>
  <meta property="og:image:height" content="450"/>
  <meta property="og:url" content="https://rangersteve.io"/>
  <meta property="og:type" content="website"/>

  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css?v={{ lastModifiedTime }}">
  {% if isProduction %}
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date()
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]
        a.async = 1
        a.src = g
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga')
      ga('create', 'UA-53112500-7', 'auto')
      ga('send', 'pageview')
    </script>
  {% endif %}

  {% block head %}{% endblock %}
</head>
<body class="main">
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand ff-bangers ft18" href="/">RangerSteve.io</a>
      </div>

      <nav>
        <ul class="nav navbar-nav">
          <li>
            <a href="/leaderboards" class="btn btn-link">Leaderboards</a>
          </li>
          <li>
            <a class="btn btn-link" href="/rooms">Rooms</a>
          </li>
          <li>
            <a class="btn btn-link" href="/create-a-room">Create a Room</a>
          </li>
          <li>
            <a href="/map-editor" class="btn btn-link">Map Editor</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {% block content %}{% endblock %}

  <footer class="navbar navbar-sm navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <nav>
        <ul class="nav navbar-nav">
          <li>
            <a style="color: #7289DA;" href="https://discord.gg/GqKgsmy" class="btn btn-link" target="_blank">
              <i class="fa fa-commenting"></i> Discord
            </a>
          </li>
          <li>
            <a style="color: #4267b2;" href="https://www.facebook.com/rangersteveio/" class="btn btn-link"
              target="_blank">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          <li>
            <a style="color: #1da1f2;" href="https://twitter.com/michaeljcalkins" class="btn btn-link" target="_blank">
              <i class="fa fa-twitter"></i> Twitter
            </a>
          </li>
          <li>
            <a class="btn btn-link" href="https://rangersteve.userecho.com/" target="_blank">
              Give Feedback or Report Bugs
            </a>
          </li>
          <li>
            <a class="btn btn-link" href="/whats-new">
              What's New
            </a>
          </li>
          <li>
            <a class="btn btn-link" href="/privacy">
              Privacy
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a style="color: #AAA;" href="http://iogames.space" class="btn btn-link pull-right" target="_blank"
              title="IO Games">IO Games</a>
          </li>
          <li>
            <a style="color: #AAA;" href="http://game.wtf/" class="btn btn-link pull-right" target="_blank"
              title="GAME.WTF">GAME.WTF</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>

  <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: 'AIzaSyCUB7iZ5M_UizQ3Y4uXKsV18cm_ISr5-Nk',
      authDomain: 'rangersteve-5d1fc.firebaseapp.com',
      databaseURL: 'https://rangersteve-5d1fc.firebaseio.com',
      storageBucket: 'rangersteve-5d1fc.appspot.com',
      messagingSenderId: '452510793270'
    }
    firebase.initializeApp(config)
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
